* {
  outline: 1px solid #def;
}



.tercio-pantalla {
  height: 33.33vh;
}

.mitad-pantalla {
  height: 50vh;
}


/* layout */


main > section {

   margin-bottom: 50px;

}


/* home: */
.entrada_home {
   padding: 30px;
   background-color: #def;
}
