* {
  outline: 1px solid #def;
}



.tercio-pantalla {
  height: 33.33vh;
}

.mitad-pantalla {
  height: 50vh;
}


/* layout */


main > section {

   margin-bottom: 50px;

}


/* home: */
.entrada_home {
   padding: 30px;
   background-color: #def;
}




.rel {
   position: relative;
}

.abs {
   position: absolute;
}



.w100 {
   width: 100%;
}

.h100 {
   height: 100%;
}




.z0 {
   z-index: 0;
}

.z1 {
   z-index: 1;
}


.texto-flotante {
   color: white;
   text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
   padding: 30px;
   /*background-color: rgba(0,0,0,0.5);*/

}



.cortina-negra {
   background-color: rgba(0,0,0,0.3);
}
